@import './colors.scss';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  scroll-snap-type: y mandatory;  
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  .section{
    scroll-snap-align: center;
    min-height: 100vh;
    width: 100%;  
  }
}


// ALL FONT FACES 


// barlow - regular
@font-face {
    font-family: Barlow-Regular;
    src: url('/public/fonts/Barlow-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
// barlow - medium
@font-face {
    font-family: 'Barlow-Medium';
    src: url('/public/fonts/Barlow-Medium.ttf');
    font-weight: 500; 
    font-style: normal;
}
// balow - light
@font-face {
    font-family: 'Barlow-Light';
    src: url('/public/fonts/Barlow-Light.ttf');
    font-weight: 300; 
    font-style: normal;
}
// variables for font barlow
$barlowR: 'Barlow-Regular', sans-serif;
$barlowM: 'Barlow-Medium', sans-serif;
$barlowL: 'Barlow-Light', sans-serif;

//  brandon - grotesqu
@font-face {
    font-family: 'BrandonGrotesque';
    src: url('/public/fonts/BrandonGrotesque-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
// variables for font brandon
$brandonB: 'BrandonGrotesque', sans-serif;


// ALL MIXINS


@mixin text-light{
  color: $white;
  font-size: 18px;
  font-family: $barlowL;
  text-align: justify;
  text-align: inter-word;
}
@mixin text-regular{
  color: $white;
  font-size: 21px;
  font-family: $barlowR;
}
@mixin topics {
  color: $white;
  font-family: $brandonB;
  font-size: 100px;
  text-transform: uppercase;
}
@mixin buttons{
  border: 1px solid $blueBG;
  background-color: transparent;
  color: $white;
}
@mixin h3{
  color: $white;
  font-size: 24px;
  font-family: $brandonB;
  text-transform: uppercase;
}