// $bg: #0b0f13;
$bg: #000000;
$white: #ffffff;
$lightBlueHome: #a2d5e1;
$greyBG: #e4e3e3;
$blueBG: rgba(121,200,199);
$gradientBlue: #77caca;
$lighter: #231f20;
$inputBlack:  rgba(0, 0, 0, 0.6);
$overlay: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.9) 100%);
$overlayHover: linear-gradient(180deg, #000 2.89%, rgba(29, 22, 22, 0.00) 47.17%);
// $referencesGradient: linear-gradient(0deg, #000 10%, #77CACA 430%);